In [11]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

In [12]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
file_path = Path("BTC-USD.csv")
btcDF = pd.read_csv(file_path)

# Display sample data
btcDF.head() 

# Review the DataFrame
btcDF

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-01-01,320.434998,320.434998,314.002991,314.248993,314.248993,8036550
1,2015-01-02,314.079010,315.838989,313.565002,315.032013,315.032013,7860650
2,2015-01-03,314.846008,315.149994,281.082001,281.082001,281.082001,33054400
3,2015-01-04,281.145996,287.230011,257.612000,264.195007,264.195007,55629100
4,2015-01-05,265.084015,278.341003,265.084015,274.473999,274.473999,43962800
...,...,...,...,...,...,...,...
3062,2023-05-21,27118.423828,27265.917969,26706.921875,26753.826172,26753.826172,8647416921
3063,2023-05-22,26749.892578,27045.734375,26549.734375,26851.277344,26851.277344,11056770492
3064,2023-05-23,26855.960938,27434.683594,26816.179688,27225.726563,27225.726563,13697203143
3065,2023-05-24,27224.603516,27224.603516,26106.576172,26334.818359,26334.818359,16299104428
3066,2023-05-25,26348.162109,26528.244141,25911.712891,26481.371094,26481.371094,14064404480

In [13]:
btcDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3067 entries, 0 to 3066
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       3067 non-null   object
 1   Open       3067 non-null   float64
 2   High       3067 non-null   float64
 3   Low        3067 non-null   float64
 4   Close      3067 non-null   float64
 5   Adj Close  3067 non-null   float64
 6   Volume     3067 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 167.9+ KB

In [14]:

# Convert 'date' column to datetime
btcDF['Date'] = pd.to_datetime(btcDF['Date'])

# Extract year, month, and day into separate columns
btcDF['year'] = btcDF['Date'].dt.year.astype(int)
btcDF['month'] = btcDF['Date'].dt.month.astype(int)
btcDF['day'] = btcDF['Date'].dt.day.astype(int)

btcDF.set_index("Date", inplace=True)

# Display the updated DataFrame
btcDF

,Open,High,Low,Close,Adj Close,Volume,year,month,day
Date,,,,,,,,,
2015-01-01,320.434998,320.434998,314.002991,314.248993,314.248993,8036550,2015,1,1
2015-01-02,314.079010,315.838989,313.565002,315.032013,315.032013,7860650,2015,1,2
2015-01-03,314.846008,315.149994,281.082001,281.082001,281.082001,33054400,2015,1,3
2015-01-04,281.145996,287.230011,257.612000,264.195007,264.195007,55629100,2015,1,4
2015-01-05,265.084015,278.341003,265.084015,274.473999,274.473999,43962800,2015,1,5
...,...,...,...,...,...,...,...,...,...
2023-05-21,27118.423828,27265.917969,26706.921875,26753.826172,26753.826172,8647416921,2023,5,21
2023-05-22,26749.892578,27045.734375,26549.734375,26851.277344,26851.277344,11056770492,2023,5,22
2023-05-23,26855.960938,27434.683594,26816.179688,27225.726563,27225.726563,13697203143,2023,5,23
2023-05-24,27224.603516,27224.603516,26106.576172,26334.818359,26334.818359,16299104428,2023,5,24
2023-05-25,26348.162109,26528.244141,25911.712891,26481.371094,26481.371094,14064404480,2023,5,25

In [15]:
btcDF["TomorrowClose"] = btcDF["Close"].shift(-1)
btcDF.dropna(inplace=True)
btcDF

,Open,High,Low,Close,Adj Close,Volume,year,month,day,TomorrowClose
Date,,,,,,,,,,
2015-01-01,320.434998,320.434998,314.002991,314.248993,314.248993,8036550,2015,1,1,315.032013
2015-01-02,314.079010,315.838989,313.565002,315.032013,315.032013,7860650,2015,1,2,281.082001
2015-01-03,314.846008,315.149994,281.082001,281.082001,281.082001,33054400,2015,1,3,264.195007
2015-01-04,281.145996,287.230011,257.612000,264.195007,264.195007,55629100,2015,1,4,274.473999
2015-01-05,265.084015,278.341003,265.084015,274.473999,274.473999,43962800,2015,1,5,286.188995
...,...,...,...,...,...,...,...,...,...,...
2023-05-20,26888.841797,27155.158203,26843.277344,27129.585938,27129.585938,7044911360,2023,5,20,26753.826172
2023-05-21,27118.423828,27265.917969,26706.921875,26753.826172,26753.826172,8647416921,2023,5,21,26851.277344
2023-05-22,26749.892578,27045.734375,26549.734375,26851.277344,26851.277344,11056770492,2023,5,22,27225.726563
2023-05-23,26855.960938,27434.683594,26816.179688,27225.726563,27225.726563,13697203143,2023,5,23,26334.818359
2023-05-24,27224.603516,27224.603516,26106.576172,26334.818359,26334.818359,16299104428,2023,5,24,26481.371094

In [16]:
btcDF.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3066 entries, 2015-01-01 to 2023-05-24
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Open           3066 non-null   float64
 1   High           3066 non-null   float64
 2   Low            3066 non-null   float64
 3   Close          3066 non-null   float64
 4   Adj Close      3066 non-null   float64
 5   Volume         3066 non-null   int64
 6   year           3066 non-null   int32
 7   month          3066 non-null   int32
 8   day            3066 non-null   int32
 9   TomorrowClose  3066 non-null   float64
dtypes: float64(6), int32(3), int64(1)
memory usage: 227.6 KB

In [17]:
# Separate the data into labels and features

y = btcDF["TomorrowClose"]
X = btcDF.drop(columns=["TomorrowClose"])

In [18]:
# Review the y variable Series
y

Date
2015-01-01      315.032013
2015-01-02      281.082001
2015-01-03      264.195007
2015-01-04      274.473999
2015-01-05      286.188995
                  ...
2023-05-20    26753.826172
2023-05-21    26851.277344
2023-05-22    27225.726563
2023-05-23    26334.818359
2023-05-24    26481.371094
Name: TomorrowClose, Length: 3066, dtype: float64

In [19]:
# Review the X variable DataFrame
X

,Open,High,Low,Close,Adj Close,Volume,year,month,day
Date,,,,,,,,,
2015-01-01,320.434998,320.434998,314.002991,314.248993,314.248993,8036550,2015,1,1
2015-01-02,314.079010,315.838989,313.565002,315.032013,315.032013,7860650,2015,1,2
2015-01-03,314.846008,315.149994,281.082001,281.082001,281.082001,33054400,2015,1,3
2015-01-04,281.145996,287.230011,257.612000,264.195007,264.195007,55629100,2015,1,4
2015-01-05,265.084015,278.341003,265.084015,274.473999,274.473999,43962800,2015,1,5
...,...,...,...,...,...,...,...,...,...
2023-05-20,26888.841797,27155.158203,26843.277344,27129.585938,27129.585938,7044911360,2023,5,20
2023-05-21,27118.423828,27265.917969,26706.921875,26753.826172,26753.826172,8647416921,2023,5,21
2023-05-22,26749.892578,27045.734375,26549.734375,26851.277344,26851.277344,11056770492,2023,5,22
2023-05-23,26855.960938,27434.683594,26816.179688,27225.726563,27225.726563,13697203143,2023,5,23
2023-05-24,27224.603516,27224.603516,26106.576172,26334.818359,26334.818359,16299104428,2023,5,24

In [20]:
# Check the balance of our target values
y.value_counts()

TomorrowClose
6741.750000     2
236.153000      2
1179.969971     2
11784.137695    1
11205.892578    1
               ..
5930.319824     1
5526.640137     1
5750.799805     1
5904.830078     1
26481.371094    1
Name: count, Length: 3063, dtype: int64

In [21]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    )

In [22]:
from sklearn.linear_model import LinearRegression

# Instantiate the Linear Regression model
regressor = LinearRegression()

# Fit the model using training data
regressor.fit(X_train, y_train)

# Predict the future values using test data
y_pred = regressor.predict(X_test)

In [23]:
X_train

,Open,High,Low,Close,Adj Close,Volume,year,month,day
Date,,,,,,,,,
2018-04-04,7456.410156,7469.879883,6803.879883,6853.839844,6853.839844,4936000000,2018,4,4
2016-04-21,441.415985,450.548004,440.951996,449.424988,449.424988,68204704,2016,4,21
2018-05-09,9223.730469,9374.759766,9031.620117,9325.179688,9325.179688,7226890240,2018,5,9
2017-06-28,2553.030029,2603.979980,2484.419922,2574.790039,2574.790039,1183869952,2017,6,28
2020-03-10,7922.146973,8136.945313,7814.763184,7909.729492,7909.729492,42213940994,2020,3,10
...,...,...,...,...,...,...,...,...,...
2022-07-26,21361.121094,21361.121094,20776.816406,21239.753906,21239.753906,28624673855,2022,7,26
2017-06-24,2738.520020,2757.939941,2583.189941,2608.719971,2608.719971,982750016,2017,6,24
2018-01-01,14112.200195,14112.200195,13154.700195,13657.200195,13657.200195,10291200000,2018,1,1
2015-08-24,228.112000,228.139008,210.442993,210.494995,210.494995,59220700,2015,8,24
2017-11-27,9352.719727,9818.349609,9352.719727,9818.349609,9818.349609,5653320192,2017,11,27

In [24]:


# Evaluate the model's performance
from sklearn.metrics import mean_squared_error, r2_score

# Calculate the mean squared error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

# Calculate the coefficient of determination (R^2 score)
r2 = r2_score(y_test, y_pred)
print("R^2 Score:", r2)

Mean Squared Error: 501820.0911454832
R^2 Score: 0.9978538522919475

In [25]:
print("Bitcoin (BTC)")
highest_value = btcDF['High'].max()
highest_date = btcDF.loc[btcDF['High'] == highest_value, ['month', 'day', 'year']].astype(str).agg('/'.join, axis=1)
rounded_highest_value = round(highest_value, 2)
print("Highest Value: $", rounded_highest_value, "on", highest_date.iloc[0])

lowest_value = btcDF['High'].min()
lowest_date = btcDF.loc[btcDF['High'] == lowest_value, ['month', 'day', 'year']].astype(str).agg('/'.join, axis=1)
rounded_lowest_value = round(lowest_value, 2)
print("Lowest Value: $", rounded_lowest_value, "on", lowest_date.iloc[0])

Bitcoin (BTC)
Highest Value: $ 68789.62 on 11/10/2021
Lowest Value: $ 211.73 on 1/17/2015

In [26]:
import math
math.sqrt(mse)

708.3926108772473

In [27]:
math.sqrt(mse) / X["Close"].mean()

0.05111096715270465

In [28]:
import statsmodels.api as sm

model = sm.OLS(y_train,X_train)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          TomorrowClose   R-squared:                       0.997
Model:                            OLS   Adj. R-squared:                  0.997
Method:                 Least Squares   F-statistic:                 1.263e+05
Date:                Sat, 03 Jun 2023   Prob (F-statistic):               0.00
Time:                        13:08:31   Log-Likelihood:                -18720.
No. Observations:                2299   AIC:                         3.746e+04
Df Residuals:                    2291   BIC:                         3.750e+04
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Open           0.0336      0.047      0.719      0.472      -0.058       0.125
High          -0.0102      0.058     -0.176      0.860      -0.124       0.103
Low           -0.0907      0.043     -2.091      0.037      -0.176      -0.006
Close          0.5302      0.025     21.208      0.000       0.481       0.579
Adj Close      0.5302      0.025     21.208      0.000       0.481       0.579
Volume      2.232e-09   1.31e-09      1.706      0.088   -3.33e-10     4.8e-09
year           0.0053      0.025      0.210      0.834      -0.044       0.055
month          2.4023      5.001      0.480      0.631      -7.406      12.210
day            0.5742      1.970      0.291      0.771      -3.289       4.438
==============================================================================
Omnibus:                      548.007   Durbin-Watson:                   1.982
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            25201.257
Skew:                          -0.243   Prob(JB):                         0.00
Kurtosis:                      19.213   Cond. No.                     1.32e+23
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 9.47e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [29]:
y_test

Date
2017-06-25     2478.449951
2015-01-07      283.348999
2019-02-18     3947.094482
2015-02-15      233.843002
2020-01-28     9316.629883
                  ...
2022-09-28    19573.050781
2016-07-09      649.359985
2015-07-06      266.207001
2015-06-16      249.283997
2017-10-17     5590.689941
Name: TomorrowClose, Length: 767, dtype: float64

In [30]:
y_pred

array([ 2613.68714345,   232.38516952,  3996.58387522,   183.46647596,
        9441.46259951,  9994.05304933,  2842.69967086, 26750.54255462,
         201.2562535 ,  1003.84972631,   402.91426079,   318.65222909,
        9445.956106  , 10589.13526693,  6738.65119023,   748.92023928,
         301.70662   ,  2618.57262833, 18753.62928574, 29443.80782651,
        8756.20654088,  9666.39113214, 12591.72257599,  8010.00567633,
       38047.92787894, 16812.58254899,  9237.45453938, 19856.6680068 ,
         210.48192307,   293.19708989, 10226.34230155, 11183.60809731,
       17906.04469899,  5937.47033596,   261.31073401, 36887.72010903,
       65152.57190149, 27893.39321899,   188.2687871 , 46064.42935926,
       29065.67311889, 43068.39115765,   232.18714156,  2825.89021224,
       19684.41011835,   204.4129205 ,   767.20999464,  7654.06648085,
       46711.76226744, 20182.14623294,  3456.8342664 ,   669.89746211,
        7816.1839997 ,  8275.45304441,  7274.31051815, 51405.59163838,
         211.23414687, 30261.72547581, 19412.80437707,  6568.56360299,
       11234.33387457,  9339.12708275, 30447.80292589,  9119.41122274,
       10192.06765479, 10932.15571278, 21062.24790566,  4416.70716077,
       33594.64816941,  6718.12905018,   244.63213936, 19258.18244968,
        6279.24811633,   590.71083075,   667.35130412,   194.9905967 ,
       19378.52438408,  9359.75678057,  2762.41494204,   186.30856683,
        8816.21155974, 12035.89532243, 16450.65484133, 19208.3998527 ,
        3662.36869973,  4035.45631104, 37608.96728194,  6507.68189625,
        4173.4089173 ,  9222.85711907, 58458.78412659,   191.79449427,
       21901.5916072 ,  4243.37760913,  6317.60173219,  2618.75272328,
         194.55537729,  8898.23571673,  9454.06461498, 58210.40590082,
       31848.07489262,  6567.39887506, 23843.7261749 ,   367.94007236,
       27650.5086821 , 46930.63145364,  9571.68395883,  9400.72416163,
         441.79944492,   589.12871431,  9908.48863153,   395.58827659,
       27301.10807011, 38078.31995607,  9552.24254945,  5785.90142946,
        6521.24176146,  6382.70472183,  2505.96371471, 47219.48748885,
        8853.10527229, 32848.9971227 ,  6351.5395335 ,  5229.38834222,
        1075.75472795,  7044.67108148,  6944.17963839, 49075.38653302,
         163.59051997,  4547.82067302,   195.20354262,   367.83949885,
        7174.63721622,  3315.58452094, 21204.81082523,   405.62714189,
       49677.1464816 ,   180.18908612,  7443.07010872,  4603.06499354,
       39153.21502885, 29652.8317783 ,   193.77752865, 11646.8053657 ,
        3962.21353904,   403.29551584, 20455.35741633,  1016.30740083,
        8518.77136754, 34152.52945345, 20031.09010947, 12050.9598825 ,
       11558.26254002,  1009.95146262, 23672.96371705, 58646.02988775,
         268.53725397,  6381.78995235, 19999.76830893, 17163.391427  ,
       47018.06791333, 15130.97025499, 46888.21213818,  9604.88115328,
        9335.62443916,   220.66193296, 30189.57969004,  4024.98605384,
        9802.40417028,  4794.71223654, 11472.75912184,   435.23951262,
         462.39428879, 19464.49015738,  4348.59426238,  7089.70115175,
        2110.73679701,  8146.17950237,   588.3440178 , 11394.257706  ,
       30470.82408789, 23178.91942797,  3521.1298689 , 36607.39223622,
       13135.76557824, 15981.35985468,  7393.4481023 , 30263.92440102,
       19351.97280176, 61345.05350696,   565.48418937,  9535.39932077,
       43591.04160621,   762.42317411,  6711.19569212,   657.06365639,
        7022.62070876,  1061.31704883,  4082.00408215,  6778.21189441,
        8873.92730671,  8910.68103748,   965.42451555,   276.61347204,
       10674.38346387,   420.04757093, 11596.58091226, 36638.547056  ,
       30031.58552075, 35311.62486248, 22908.71286865, 11871.48086093,
        6481.41738008,   450.64939823,  5133.51804769, 17191.79424345,
        6193.82613226,   573.55552353, 42026.10934087,   202.55739259,
        4097.64909825, 28697.52462268,   163.96952787, 38035.76862413,
        9428.87326284, 11495.90756959, 28060.34381445,   209.45403439,
         381.59662934,   280.20791112,  8921.3118829 ,   205.91306564,
       17023.52169831, 21468.00716572,   735.75867528,  7369.97131681,
         934.87078504, 16550.10058666,  1231.51380509,  6782.824476  ,
       44749.2323776 ,   620.5594457 ,  3556.0469868 ,   180.82522698,
       31426.08640291,   430.6015991 ,  4421.21955485,   303.00160893,
       10861.83436474, 42123.12309561,  1758.47288761,   614.31736056,
        1195.08460371,   348.09586978, 11774.89234114,   721.77833972,
       12353.52000383, 43817.35866347,   709.12393606, 17012.20612558,
       10853.64797267,  6486.71499366,  6692.23321533,   193.27800417,
         608.66761179,  6230.56525401, 53370.92707843,   346.95116797,
        3670.66036357,   932.01772493,  1264.02957017, 55990.63801595,
        6352.74970742,  8067.66609774,  1164.25703665, 48819.04870515,
         586.34734549,  2378.97566149, 16925.18415317,  2263.99410305,
         923.18883093,   401.56083294,   360.98501096,  8927.23402248,
         991.41048771, 19386.59736739,   635.55292306, 49254.31175696,
         222.01023842, 19353.27169527,   441.74512777, 53531.32515543,
       16987.48997944, 48943.73624863,   252.19429142, 28973.01278936,
       28759.56112525,  9302.87269205,  9477.19754057, 53655.23437157,
         912.34044489,  9455.07843915, 23791.13068068,  3779.79655897,
       16524.61040921, 23991.38644774,  3887.08035683,   229.89738162,
        6965.4682946 ,  9351.59975303,   782.75214219, 17523.80253399,
         207.7732633 ,  7933.84018053, 10318.92191211,   233.44516218,
        6556.719976  , 12004.51104521,   718.53449056,   178.89510016,
       41662.82775878,  7616.38142386,  8961.03965215,  7249.74657667,
       60568.30855078,   588.41758124, 15326.27710524, 18126.34243344,
       19251.12842432, 61565.34071849, 11649.32465534, 24837.0698815 ,
         993.36586017, 11159.98842166, 15916.04054142, 11562.53071894,
       16535.35806433,   251.54548781,  3521.77594027,  8228.25478252,
       57913.36006529,   608.4873919 ,  4724.59123953, 61608.29369284,
        8390.57027744, 11009.13188607,  5667.48025718,  8249.94636498,
       11522.95660157,  4370.16154725, 37994.07600074,   209.12735112,
        6184.96375911, 37735.98406044,   200.61769322,   156.7171982 ,
       34715.48395038,   761.20579497,  8486.82864743, 28819.77963363,
        9636.00022247, 29906.76825897,   299.90433287,  7075.50872937,
        7401.00438887, 57860.70203865, 19114.22961153, 57588.36181197,
       32706.15850687,   400.68324793, 24701.7227004 , 45337.60459474,
         245.18413204,   227.91885211,   418.16378147, 61800.16237053,
       38966.55457059,  1202.80777234,  9254.6818934 , 49280.63016348,
        3968.79481693,  5803.58233469, 39299.21815972, 48755.29262268,
        6563.98975389,  5625.24614296,  7486.19599068, 54674.9036102 ,
        3819.4411258 , 39626.0789367 ,  1613.53825288,  7381.46365216,
         205.13405927,   303.3699513 ,  8774.04653106, 33548.32086997,
       11050.00042679,   209.70321635,  7390.67870341,  4066.793093  ,
        4378.61710078,   397.97156009,   937.00969755, 21762.22499193,
       10728.7177198 , 29341.5485046 ,   663.57053158, 49076.3666645 ,
        8377.43778719, 48004.58570847,  6664.12266594,  8633.48343296,
        1134.75138393,   754.98280986,  5094.43727675,   402.94820878,
       10582.03824087, 36099.06691668,  2207.4495974 ,  9367.01171746,
        3738.62967407, 17859.2845431 , 15615.16169368, 14712.99344648,
       51603.73473293,  3926.67666126, 10698.83725774,   567.61572863,
         535.36846825, 10316.77544424,   222.733818  ,   177.56090181,
         575.9334986 ,   190.97829785,  3687.26493528,   245.98838302,
       32219.82855192,   681.1657516 , 16320.38324719,   191.06820382,
        5302.91927571,  8107.49015345, 56764.65453113,  1098.07127217,
        8735.16674643,   199.74546085,  3986.28797505, 10998.78227505,
         365.72952845,  4088.31570921,  8456.09211197,  7466.38307276,
       10319.08851947,   592.69036999,  6406.35067316, 31341.20330056,
       19842.88653543,  6721.40124637,  4193.91853367,  9603.00884483,
         681.03109291,  9733.83408656,  7583.41556308,  6572.80940136,
       10307.47982951,   189.98548723, 20522.06297658,  7644.52466537,
        7440.05426841, 48234.71188923,  2708.69313615,   237.12914107,
        9757.48901287,  1036.37913001, 11820.67083858,  5154.78635725,
        5260.41583623, 17306.51311205,  4359.53973568, 40831.4989191 ,
        3557.15546809,  9779.55583059, 10589.81415812,  2543.23994031,
        9594.67144346, 17262.56834205, 18995.69524533, 60032.06317847,
         351.30929099,   209.95028568,  6414.7483915 , 47039.35461246,
        3901.2836677 ,  4168.10021617,  3921.10184577,  5664.63871516,
        7912.9693448 , 41466.9510101 ,  7639.32021116, 41087.42640716,
        7134.67617335,  9392.12871272, 46175.04833545,  1571.53450272,
         448.34492706,   247.32635704, 34739.93240315,  3387.77401829,
         123.61415836, 10051.75289285,  3713.99024111, 46852.83617192,
        4098.78788314,  9191.19362903, 20874.07255019,   209.95155612,
       43825.27833157,   179.89286145, 13849.18486449,   762.14592827,
       23259.25707583, 28863.4911055 ,  1555.25319167, 10266.62794065,
         390.31440145, 19322.32955143, 19110.65534174,  7243.62521882,
       14545.79305536,  5640.26922112, 35019.54139681, 39477.15553092,
       10810.45425193,  5340.20367911,  5151.07022238, 15616.38482593,
       31759.49515652,   192.35685676,  8771.61754066,  3750.28074902,
        8243.04448072,   209.15940451,   231.5369872 , 11145.13708268,
       41728.39518875,  4224.31342943, 58706.8738935 , 31395.57606544,
         337.86632741,  5394.35654053, 22639.92359871,   235.4845995 ,
       42252.18772018, 15720.42900177,   182.24923203, 10450.64390877,
       26927.62225975, 55521.99208634, 45371.35828532, 47467.27398054,
        8240.88016631, 33493.64825098,  9406.19640163,  7951.13230776,
         423.08879221, 28162.89812431,  9223.49938502,  8657.89201936,
        6513.64180654,  7714.25627932, 23049.64235352,  7916.81398319,
         719.60311619, 42587.51408919, 13029.90446112,  8388.01685338,
         602.39453645,  7373.91082339,  2509.72265027,   216.92389709,
       10536.67021021,  6653.80287724,   221.61940125, 11491.00426974,
        7543.60076362,   640.22304942, 19544.85352296,   590.05077567,
        9269.28341884,   227.43194231,  9772.72804156,  5312.05730326,
       16936.61972214, 35727.27362077,  9143.75042453,  1073.53700667,
       11876.79341056,  3690.12551877, 30412.24622084, 54700.98007277,
        5117.38983901, 20686.3252589 ,   799.21966094, 10265.50453434,
       29058.10685805,  6312.22477657, 26383.54523479,  1231.47613086,
        6973.1251551 , 38423.75832907, 31054.14812348,  3690.54104607,
       27122.6319606 ,   210.15849137,  2540.94990658,  8199.53229008,
        8867.88120084,  4101.56276182, 10385.05961099,   777.20322188,
       47492.28734408, 28255.98713965,  3734.95313293,   201.07057971,
       48841.25670039,  7649.87199985,  8853.66083939,  4017.36169147,
        4440.44615423,  9464.0166138 ,   630.63170272,   232.02259315,
       40131.39074291, 10108.48377643,  1186.8299339 ,  1967.6829804 ,
        2739.89807267,   616.0186682 ,   727.83142921,   193.85640045,
       22446.16771884,  9700.91788191,  8038.87958903,  6802.88584733,
        9827.67392894,   697.97113956,   769.19554329, 13163.10849461,
        3728.48400925,  6922.85740233, 27208.94047426, 32267.90291599,
        7352.23409411, 14025.48064095,   591.07999081,   402.59045228,
        2400.86907894,   209.50006444, 11606.92648078, 31749.01005016,
       20868.11947406,  2525.94633775,   216.04076833,   178.23024919,
         242.52165113,   785.00788094,   229.81081374, 17301.91812718,
       22445.07287662,   316.49778199,  7292.5370376 , 23243.12702654,
        6317.16153125, 22836.44699291,   196.25333181,   664.60099802,
        2526.62180958,  6457.29302621,  8762.075868  , 11931.17762143,
        9443.81958424,   457.69739844, 46916.51409645,  8868.83137349,
        7051.23755965, 44496.96239335,   936.67336482, 18448.34380837,
        1245.96427807, 26997.12520365,   233.09429988,  1003.2608606 ,
         448.29157606,   201.11585509,   426.50994054, 23891.61069862,
         644.92365817, 11240.28854136,   662.69641582, 23202.87046811,
         442.92096613, 55899.01910131, 20657.60462786, 31721.14260491,
        7415.44499483, 41151.05794607,  6608.90432611,  3208.36061802,
        6530.33162866,  2684.74898809,  1237.06125051, 47041.512177  ,
         661.57482768, 20332.76258102,  4144.12998945,   206.5408182 ,
        8423.88563035,   398.57607687,  3742.76440431,   202.79877782,
       19646.82313437,   233.37190348,  3707.13875545,   902.51833679,
         653.68027348, 21612.51169007,  3592.55506985,  8089.54009528,
        5955.09714629, 16394.55975169,   661.20256379,   439.70977104,
        9578.41634271,  2700.65616923,  6876.63123226,  6301.82195079,
         348.49852446, 10270.41392047,   653.82780002,  3692.35510187,
        1041.84500651, 11045.07547908,  2247.73188327,   214.28738365,
       40274.78709453,  4994.53481902,  1260.15402717,   216.69266178,
        2356.48808274,  4432.20574096,  8788.14717759,  8863.43787716,
       11879.38522297, 57149.19301677, 48531.86262618,   712.6318091 ,
        5129.49140904,  6443.16735214,   593.5161721 ,   381.36940501,
         447.26676315,  8443.00132774, 19568.54058822,   649.20954502,
         230.12773807,   215.35367597,  5624.99183835])

In [31]:
# Make a prediction using the testing data

predictions = regressor.predict(X_test)
predictions

array([ 2613.68714345,   232.38516952,  3996.58387522,   183.46647596,
        9441.46259951,  9994.05304933,  2842.69967086, 26750.54255462,
         201.2562535 ,  1003.84972631,   402.91426079,   318.65222909,
        9445.956106  , 10589.13526693,  6738.65119023,   748.92023928,
         301.70662   ,  2618.57262833, 18753.62928574, 29443.80782651,
        8756.20654088,  9666.39113214, 12591.72257599,  8010.00567633,
       38047.92787894, 16812.58254899,  9237.45453938, 19856.6680068 ,
         210.48192307,   293.19708989, 10226.34230155, 11183.60809731,
       17906.04469899,  5937.47033596,   261.31073401, 36887.72010903,
       65152.57190149, 27893.39321899,   188.2687871 , 46064.42935926,
       29065.67311889, 43068.39115765,   232.18714156,  2825.89021224,
       19684.41011835,   204.4129205 ,   767.20999464,  7654.06648085,
       46711.76226744, 20182.14623294,  3456.8342664 ,   669.89746211,
        7816.1839997 ,  8275.45304441,  7274.31051815, 51405.59163838,
         211.23414687, 30261.72547581, 19412.80437707,  6568.56360299,
       11234.33387457,  9339.12708275, 30447.80292589,  9119.41122274,
       10192.06765479, 10932.15571278, 21062.24790566,  4416.70716077,
       33594.64816941,  6718.12905018,   244.63213936, 19258.18244968,
        6279.24811633,   590.71083075,   667.35130412,   194.9905967 ,
       19378.52438408,  9359.75678057,  2762.41494204,   186.30856683,
        8816.21155974, 12035.89532243, 16450.65484133, 19208.3998527 ,
        3662.36869973,  4035.45631104, 37608.96728194,  6507.68189625,
        4173.4089173 ,  9222.85711907, 58458.78412659,   191.79449427,
       21901.5916072 ,  4243.37760913,  6317.60173219,  2618.75272328,
         194.55537729,  8898.23571673,  9454.06461498, 58210.40590082,
       31848.07489262,  6567.39887506, 23843.7261749 ,   367.94007236,
       27650.5086821 , 46930.63145364,  9571.68395883,  9400.72416163,
         441.79944492,   589.12871431,  9908.48863153,   395.58827659,
       27301.10807011, 38078.31995607,  9552.24254945,  5785.90142946,
        6521.24176146,  6382.70472183,  2505.96371471, 47219.48748885,
        8853.10527229, 32848.9971227 ,  6351.5395335 ,  5229.38834222,
        1075.75472795,  7044.67108148,  6944.17963839, 49075.38653302,
         163.59051997,  4547.82067302,   195.20354262,   367.83949885,
        7174.63721622,  3315.58452094, 21204.81082523,   405.62714189,
       49677.1464816 ,   180.18908612,  7443.07010872,  4603.06499354,
       39153.21502885, 29652.8317783 ,   193.77752865, 11646.8053657 ,
        3962.21353904,   403.29551584, 20455.35741633,  1016.30740083,
        8518.77136754, 34152.52945345, 20031.09010947, 12050.9598825 ,
       11558.26254002,  1009.95146262, 23672.96371705, 58646.02988775,
         268.53725397,  6381.78995235, 19999.76830893, 17163.391427  ,
       47018.06791333, 15130.97025499, 46888.21213818,  9604.88115328,
        9335.62443916,   220.66193296, 30189.57969004,  4024.98605384,
        9802.40417028,  4794.71223654, 11472.75912184,   435.23951262,
         462.39428879, 19464.49015738,  4348.59426238,  7089.70115175,
        2110.73679701,  8146.17950237,   588.3440178 , 11394.257706  ,
       30470.82408789, 23178.91942797,  3521.1298689 , 36607.39223622,
       13135.76557824, 15981.35985468,  7393.4481023 , 30263.92440102,
       19351.97280176, 61345.05350696,   565.48418937,  9535.39932077,
       43591.04160621,   762.42317411,  6711.19569212,   657.06365639,
        7022.62070876,  1061.31704883,  4082.00408215,  6778.21189441,
        8873.92730671,  8910.68103748,   965.42451555,   276.61347204,
       10674.38346387,   420.04757093, 11596.58091226, 36638.547056  ,
       30031.58552075, 35311.62486248, 22908.71286865, 11871.48086093,
        6481.41738008,   450.64939823,  5133.51804769, 17191.79424345,
        6193.82613226,   573.55552353, 42026.10934087,   202.55739259,
        4097.64909825, 28697.52462268,   163.96952787, 38035.76862413,
        9428.87326284, 11495.90756959, 28060.34381445,   209.45403439,
         381.59662934,   280.20791112,  8921.3118829 ,   205.91306564,
       17023.52169831, 21468.00716572,   735.75867528,  7369.97131681,
         934.87078504, 16550.10058666,  1231.51380509,  6782.824476  ,
       44749.2323776 ,   620.5594457 ,  3556.0469868 ,   180.82522698,
       31426.08640291,   430.6015991 ,  4421.21955485,   303.00160893,
       10861.83436474, 42123.12309561,  1758.47288761,   614.31736056,
        1195.08460371,   348.09586978, 11774.89234114,   721.77833972,
       12353.52000383, 43817.35866347,   709.12393606, 17012.20612558,
       10853.64797267,  6486.71499366,  6692.23321533,   193.27800417,
         608.66761179,  6230.56525401, 53370.92707843,   346.95116797,
        3670.66036357,   932.01772493,  1264.02957017, 55990.63801595,
        6352.74970742,  8067.66609774,  1164.25703665, 48819.04870515,
         586.34734549,  2378.97566149, 16925.18415317,  2263.99410305,
         923.18883093,   401.56083294,   360.98501096,  8927.23402248,
         991.41048771, 19386.59736739,   635.55292306, 49254.31175696,
         222.01023842, 19353.27169527,   441.74512777, 53531.32515543,
       16987.48997944, 48943.73624863,   252.19429142, 28973.01278936,
       28759.56112525,  9302.87269205,  9477.19754057, 53655.23437157,
         912.34044489,  9455.07843915, 23791.13068068,  3779.79655897,
       16524.61040921, 23991.38644774,  3887.08035683,   229.89738162,
        6965.4682946 ,  9351.59975303,   782.75214219, 17523.80253399,
         207.7732633 ,  7933.84018053, 10318.92191211,   233.44516218,
        6556.719976  , 12004.51104521,   718.53449056,   178.89510016,
       41662.82775878,  7616.38142386,  8961.03965215,  7249.74657667,
       60568.30855078,   588.41758124, 15326.27710524, 18126.34243344,
       19251.12842432, 61565.34071849, 11649.32465534, 24837.0698815 ,
         993.36586017, 11159.98842166, 15916.04054142, 11562.53071894,
       16535.35806433,   251.54548781,  3521.77594027,  8228.25478252,
       57913.36006529,   608.4873919 ,  4724.59123953, 61608.29369284,
        8390.57027744, 11009.13188607,  5667.48025718,  8249.94636498,
       11522.95660157,  4370.16154725, 37994.07600074,   209.12735112,
        6184.96375911, 37735.98406044,   200.61769322,   156.7171982 ,
       34715.48395038,   761.20579497,  8486.82864743, 28819.77963363,
        9636.00022247, 29906.76825897,   299.90433287,  7075.50872937,
        7401.00438887, 57860.70203865, 19114.22961153, 57588.36181197,
       32706.15850687,   400.68324793, 24701.7227004 , 45337.60459474,
         245.18413204,   227.91885211,   418.16378147, 61800.16237053,
       38966.55457059,  1202.80777234,  9254.6818934 , 49280.63016348,
        3968.79481693,  5803.58233469, 39299.21815972, 48755.29262268,
        6563.98975389,  5625.24614296,  7486.19599068, 54674.9036102 ,
        3819.4411258 , 39626.0789367 ,  1613.53825288,  7381.46365216,
         205.13405927,   303.3699513 ,  8774.04653106, 33548.32086997,
       11050.00042679,   209.70321635,  7390.67870341,  4066.793093  ,
        4378.61710078,   397.97156009,   937.00969755, 21762.22499193,
       10728.7177198 , 29341.5485046 ,   663.57053158, 49076.3666645 ,
        8377.43778719, 48004.58570847,  6664.12266594,  8633.48343296,
        1134.75138393,   754.98280986,  5094.43727675,   402.94820878,
       10582.03824087, 36099.06691668,  2207.4495974 ,  9367.01171746,
        3738.62967407, 17859.2845431 , 15615.16169368, 14712.99344648,
       51603.73473293,  3926.67666126, 10698.83725774,   567.61572863,
         535.36846825, 10316.77544424,   222.733818  ,   177.56090181,
         575.9334986 ,   190.97829785,  3687.26493528,   245.98838302,
       32219.82855192,   681.1657516 , 16320.38324719,   191.06820382,
        5302.91927571,  8107.49015345, 56764.65453113,  1098.07127217,
        8735.16674643,   199.74546085,  3986.28797505, 10998.78227505,
         365.72952845,  4088.31570921,  8456.09211197,  7466.38307276,
       10319.08851947,   592.69036999,  6406.35067316, 31341.20330056,
       19842.88653543,  6721.40124637,  4193.91853367,  9603.00884483,
         681.03109291,  9733.83408656,  7583.41556308,  6572.80940136,
       10307.47982951,   189.98548723, 20522.06297658,  7644.52466537,
        7440.05426841, 48234.71188923,  2708.69313615,   237.12914107,
        9757.48901287,  1036.37913001, 11820.67083858,  5154.78635725,
        5260.41583623, 17306.51311205,  4359.53973568, 40831.4989191 ,
        3557.15546809,  9779.55583059, 10589.81415812,  2543.23994031,
        9594.67144346, 17262.56834205, 18995.69524533, 60032.06317847,
         351.30929099,   209.95028568,  6414.7483915 , 47039.35461246,
        3901.2836677 ,  4168.10021617,  3921.10184577,  5664.63871516,
        7912.9693448 , 41466.9510101 ,  7639.32021116, 41087.42640716,
        7134.67617335,  9392.12871272, 46175.04833545,  1571.53450272,
         448.34492706,   247.32635704, 34739.93240315,  3387.77401829,
         123.61415836, 10051.75289285,  3713.99024111, 46852.83617192,
        4098.78788314,  9191.19362903, 20874.07255019,   209.95155612,
       43825.27833157,   179.89286145, 13849.18486449,   762.14592827,
       23259.25707583, 28863.4911055 ,  1555.25319167, 10266.62794065,
         390.31440145, 19322.32955143, 19110.65534174,  7243.62521882,
       14545.79305536,  5640.26922112, 35019.54139681, 39477.15553092,
       10810.45425193,  5340.20367911,  5151.07022238, 15616.38482593,
       31759.49515652,   192.35685676,  8771.61754066,  3750.28074902,
        8243.04448072,   209.15940451,   231.5369872 , 11145.13708268,
       41728.39518875,  4224.31342943, 58706.8738935 , 31395.57606544,
         337.86632741,  5394.35654053, 22639.92359871,   235.4845995 ,
       42252.18772018, 15720.42900177,   182.24923203, 10450.64390877,
       26927.62225975, 55521.99208634, 45371.35828532, 47467.27398054,
        8240.88016631, 33493.64825098,  9406.19640163,  7951.13230776,
         423.08879221, 28162.89812431,  9223.49938502,  8657.89201936,
        6513.64180654,  7714.25627932, 23049.64235352,  7916.81398319,
         719.60311619, 42587.51408919, 13029.90446112,  8388.01685338,
         602.39453645,  7373.91082339,  2509.72265027,   216.92389709,
       10536.67021021,  6653.80287724,   221.61940125, 11491.00426974,
        7543.60076362,   640.22304942, 19544.85352296,   590.05077567,
        9269.28341884,   227.43194231,  9772.72804156,  5312.05730326,
       16936.61972214, 35727.27362077,  9143.75042453,  1073.53700667,
       11876.79341056,  3690.12551877, 30412.24622084, 54700.98007277,
        5117.38983901, 20686.3252589 ,   799.21966094, 10265.50453434,
       29058.10685805,  6312.22477657, 26383.54523479,  1231.47613086,
        6973.1251551 , 38423.75832907, 31054.14812348,  3690.54104607,
       27122.6319606 ,   210.15849137,  2540.94990658,  8199.53229008,
        8867.88120084,  4101.56276182, 10385.05961099,   777.20322188,
       47492.28734408, 28255.98713965,  3734.95313293,   201.07057971,
       48841.25670039,  7649.87199985,  8853.66083939,  4017.36169147,
        4440.44615423,  9464.0166138 ,   630.63170272,   232.02259315,
       40131.39074291, 10108.48377643,  1186.8299339 ,  1967.6829804 ,
        2739.89807267,   616.0186682 ,   727.83142921,   193.85640045,
       22446.16771884,  9700.91788191,  8038.87958903,  6802.88584733,
        9827.67392894,   697.97113956,   769.19554329, 13163.10849461,
        3728.48400925,  6922.85740233, 27208.94047426, 32267.90291599,
        7352.23409411, 14025.48064095,   591.07999081,   402.59045228,
        2400.86907894,   209.50006444, 11606.92648078, 31749.01005016,
       20868.11947406,  2525.94633775,   216.04076833,   178.23024919,
         242.52165113,   785.00788094,   229.81081374, 17301.91812718,
       22445.07287662,   316.49778199,  7292.5370376 , 23243.12702654,
        6317.16153125, 22836.44699291,   196.25333181,   664.60099802,
        2526.62180958,  6457.29302621,  8762.075868  , 11931.17762143,
        9443.81958424,   457.69739844, 46916.51409645,  8868.83137349,
        7051.23755965, 44496.96239335,   936.67336482, 18448.34380837,
        1245.96427807, 26997.12520365,   233.09429988,  1003.2608606 ,
         448.29157606,   201.11585509,   426.50994054, 23891.61069862,
         644.92365817, 11240.28854136,   662.69641582, 23202.87046811,
         442.92096613, 55899.01910131, 20657.60462786, 31721.14260491,
        7415.44499483, 41151.05794607,  6608.90432611,  3208.36061802,
        6530.33162866,  2684.74898809,  1237.06125051, 47041.512177  ,
         661.57482768, 20332.76258102,  4144.12998945,   206.5408182 ,
        8423.88563035,   398.57607687,  3742.76440431,   202.79877782,
       19646.82313437,   233.37190348,  3707.13875545,   902.51833679,
         653.68027348, 21612.51169007,  3592.55506985,  8089.54009528,
        5955.09714629, 16394.55975169,   661.20256379,   439.70977104,
        9578.41634271,  2700.65616923,  6876.63123226,  6301.82195079,
         348.49852446, 10270.41392047,   653.82780002,  3692.35510187,
        1041.84500651, 11045.07547908,  2247.73188327,   214.28738365,
       40274.78709453,  4994.53481902,  1260.15402717,   216.69266178,
        2356.48808274,  4432.20574096,  8788.14717759,  8863.43787716,
       11879.38522297, 57149.19301677, 48531.86262618,   712.6318091 ,
        5129.49140904,  6443.16735214,   593.5161721 ,   381.36940501,
         447.26676315,  8443.00132774, 19568.54058822,   649.20954502,
         230.12773807,   215.35367597,  5624.99183835])

['../../Reginald/Webapp/ml/models/model_btc.joblib']

In [ ]:
# noodle.predict(X_test.iloc[0])

array([9.47849451e+16, 1.03469804e+17, 3.52934720e+17, ...,
       5.42991999e+17, 4.09896178e+16, 1.74827862e+18])