In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

In [2]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
file_path = Path("BTC-USD.csv")
btcDF = pd.read_csv(file_path)

# Display sample data
btcDF.head() 

# Review the DataFrame
btcDF

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-01-01,320.434998,320.434998,314.002991,314.248993,314.248993,8036550
1,2015-01-02,314.079010,315.838989,313.565002,315.032013,315.032013,7860650
2,2015-01-03,314.846008,315.149994,281.082001,281.082001,281.082001,33054400
3,2015-01-04,281.145996,287.230011,257.612000,264.195007,264.195007,55629100
4,2015-01-05,265.084015,278.341003,265.084015,274.473999,274.473999,43962800
...,...,...,...,...,...,...,...
3062,2023-05-21,27118.423828,27265.917969,26706.921875,26753.826172,26753.826172,8647416921
3063,2023-05-22,26749.892578,27045.734375,26549.734375,26851.277344,26851.277344,11056770492
3064,2023-05-23,26855.960938,27434.683594,26816.179688,27225.726563,27225.726563,13697203143
3065,2023-05-24,27224.603516,27224.603516,26106.576172,26334.818359,26334.818359,16299104428
3066,2023-05-25,26348.162109,26528.244141,25911.712891,26481.371094,26481.371094,14064404480

In [3]:
btcDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3067 entries, 0 to 3066
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       3067 non-null   object
 1   Open       3067 non-null   float64
 2   High       3067 non-null   float64
 3   Low        3067 non-null   float64
 4   Close      3067 non-null   float64
 5   Adj Close  3067 non-null   float64
 6   Volume     3067 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 167.9+ KB

In [4]:

# Convert 'date' column to datetime
btcDF['Date'] = pd.to_datetime(btcDF['Date'])

# Extract year, month, and day into separate columns
btcDF['year'] = btcDF['Date'].dt.year.astype(int)
btcDF['month'] = btcDF['Date'].dt.month.astype(int)
btcDF['day'] = btcDF['Date'].dt.day.astype(int)

btcDF.set_index("Date", inplace=True)

# Display the updated DataFrame
btcDF

,Open,High,Low,Close,Adj Close,Volume,year,month,day
Date,,,,,,,,,
2015-01-01,320.434998,320.434998,314.002991,314.248993,314.248993,8036550,2015,1,1
2015-01-02,314.079010,315.838989,313.565002,315.032013,315.032013,7860650,2015,1,2
2015-01-03,314.846008,315.149994,281.082001,281.082001,281.082001,33054400,2015,1,3
2015-01-04,281.145996,287.230011,257.612000,264.195007,264.195007,55629100,2015,1,4
2015-01-05,265.084015,278.341003,265.084015,274.473999,274.473999,43962800,2015,1,5
...,...,...,...,...,...,...,...,...,...
2023-05-21,27118.423828,27265.917969,26706.921875,26753.826172,26753.826172,8647416921,2023,5,21
2023-05-22,26749.892578,27045.734375,26549.734375,26851.277344,26851.277344,11056770492,2023,5,22
2023-05-23,26855.960938,27434.683594,26816.179688,27225.726563,27225.726563,13697203143,2023,5,23
2023-05-24,27224.603516,27224.603516,26106.576172,26334.818359,26334.818359,16299104428,2023,5,24
2023-05-25,26348.162109,26528.244141,25911.712891,26481.371094,26481.371094,14064404480,2023,5,25

In [5]:
btcDF["TomorrowClose"] = btcDF["Close"].shift(-1)
btcDF.dropna(inplace=True)
btcDF

,Open,High,Low,Close,Adj Close,Volume,year,month,day,TomorrowClose
Date,,,,,,,,,,
2015-01-01,320.434998,320.434998,314.002991,314.248993,314.248993,8036550,2015,1,1,315.032013
2015-01-02,314.079010,315.838989,313.565002,315.032013,315.032013,7860650,2015,1,2,281.082001
2015-01-03,314.846008,315.149994,281.082001,281.082001,281.082001,33054400,2015,1,3,264.195007
2015-01-04,281.145996,287.230011,257.612000,264.195007,264.195007,55629100,2015,1,4,274.473999
2015-01-05,265.084015,278.341003,265.084015,274.473999,274.473999,43962800,2015,1,5,286.188995
...,...,...,...,...,...,...,...,...,...,...
2023-05-20,26888.841797,27155.158203,26843.277344,27129.585938,27129.585938,7044911360,2023,5,20,26753.826172
2023-05-21,27118.423828,27265.917969,26706.921875,26753.826172,26753.826172,8647416921,2023,5,21,26851.277344
2023-05-22,26749.892578,27045.734375,26549.734375,26851.277344,26851.277344,11056770492,2023,5,22,27225.726563
2023-05-23,26855.960938,27434.683594,26816.179688,27225.726563,27225.726563,13697203143,2023,5,23,26334.818359
2023-05-24,27224.603516,27224.603516,26106.576172,26334.818359,26334.818359,16299104428,2023,5,24,26481.371094

In [6]:
btcDF.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3066 entries, 2015-01-01 to 2023-05-24
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Open           3066 non-null   float64
 1   High           3066 non-null   float64
 2   Low            3066 non-null   float64
 3   Close          3066 non-null   float64
 4   Adj Close      3066 non-null   float64
 5   Volume         3066 non-null   int64
 6   year           3066 non-null   int64
 7   month          3066 non-null   int64
 8   day            3066 non-null   int64
 9   TomorrowClose  3066 non-null   float64
dtypes: float64(6), int64(4)
memory usage: 263.5 KB

In [7]:
# Separate the data into labels and features

y = btcDF["TomorrowClose"]
X = btcDF.drop(columns=["TomorrowClose"])

In [8]:
# Review the y variable Series
y

Date
2015-01-01      315.032013
2015-01-02      281.082001
2015-01-03      264.195007
2015-01-04      274.473999
2015-01-05      286.188995
                  ...
2023-05-20    26753.826172
2023-05-21    26851.277344
2023-05-22    27225.726563
2023-05-23    26334.818359
2023-05-24    26481.371094
Name: TomorrowClose, Length: 3066, dtype: float64

In [9]:
# Review the X variable DataFrame
X

,Open,High,Low,Close,Adj Close,Volume,year,month,day
Date,,,,,,,,,
2015-01-01,320.434998,320.434998,314.002991,314.248993,314.248993,8036550,2015,1,1
2015-01-02,314.079010,315.838989,313.565002,315.032013,315.032013,7860650,2015,1,2
2015-01-03,314.846008,315.149994,281.082001,281.082001,281.082001,33054400,2015,1,3
2015-01-04,281.145996,287.230011,257.612000,264.195007,264.195007,55629100,2015,1,4
2015-01-05,265.084015,278.341003,265.084015,274.473999,274.473999,43962800,2015,1,5
...,...,...,...,...,...,...,...,...,...
2023-05-20,26888.841797,27155.158203,26843.277344,27129.585938,27129.585938,7044911360,2023,5,20
2023-05-21,27118.423828,27265.917969,26706.921875,26753.826172,26753.826172,8647416921,2023,5,21
2023-05-22,26749.892578,27045.734375,26549.734375,26851.277344,26851.277344,11056770492,2023,5,22
2023-05-23,26855.960938,27434.683594,26816.179688,27225.726563,27225.726563,13697203143,2023,5,23
2023-05-24,27224.603516,27224.603516,26106.576172,26334.818359,26334.818359,16299104428,2023,5,24

In [10]:
# Check the balance of our target values
y.value_counts()

6741.750000     2
236.153000      2
1179.969971     2
11784.137695    1
11205.892578    1
               ..
5930.319824     1
5526.640137     1
5750.799805     1
5904.830078     1
26481.371094    1
Name: TomorrowClose, Length: 3063, dtype: int64

In [11]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    )

In [12]:
from sklearn.linear_model import LinearRegression

# Instantiate the Linear Regression model
regressor = LinearRegression()

# Fit the model using training data
regressor.fit(X_train, y_train)

# Predict the future values using test data
y_pred = regressor.predict(X_test)

In [13]:
X_train

,Open,High,Low,Close,Adj Close,Volume,year,month,day
Date,,,,,,,,,
2018-04-04,7456.410156,7469.879883,6803.879883,6853.839844,6853.839844,4936000000,2018,4,4
2016-04-21,441.415985,450.548004,440.951996,449.424988,449.424988,68204704,2016,4,21
2018-05-09,9223.730469,9374.759766,9031.620117,9325.179688,9325.179688,7226890240,2018,5,9
2017-06-28,2553.030029,2603.979980,2484.419922,2574.790039,2574.790039,1183869952,2017,6,28
2020-03-10,7922.146973,8136.945313,7814.763184,7909.729492,7909.729492,42213940994,2020,3,10
...,...,...,...,...,...,...,...,...,...
2022-07-26,21361.121094,21361.121094,20776.816406,21239.753906,21239.753906,28624673855,2022,7,26
2017-06-24,2738.520020,2757.939941,2583.189941,2608.719971,2608.719971,982750016,2017,6,24
2018-01-01,14112.200195,14112.200195,13154.700195,13657.200195,13657.200195,10291200000,2018,1,1
2015-08-24,228.112000,228.139008,210.442993,210.494995,210.494995,59220700,2015,8,24
2017-11-27,9352.719727,9818.349609,9352.719727,9818.349609,9818.349609,5653320192,2017,11,27

In [14]:


# Evaluate the model's performance
from sklearn.metrics import mean_squared_error, r2_score

# Calculate the mean squared error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

# Calculate the coefficient of determination (R^2 score)
r2 = r2_score(y_test, y_pred)
print("R^2 Score:", r2)

Mean Squared Error: 501820.09116117447
R^2 Score: 0.9978538522918803

In [15]:
print("Bitcoin (BTC)")
highest_value = btcDF['High'].max()
highest_date = btcDF.loc[btcDF['High'] == highest_value, ['month', 'day', 'year']].astype(str).agg('/'.join, axis=1)
rounded_highest_value = round(highest_value, 2)
print("Highest Value: $", rounded_highest_value, "on", highest_date.iloc[0])

lowest_value = btcDF['High'].min()
lowest_date = btcDF.loc[btcDF['High'] == lowest_value, ['month', 'day', 'year']].astype(str).agg('/'.join, axis=1)
rounded_lowest_value = round(lowest_value, 2)
print("Lowest Value: $", rounded_lowest_value, "on", lowest_date.iloc[0])

Bitcoin (BTC)
Highest Value: $ 68789.62 on 11/10/2021
Lowest Value: $ 211.73 on 1/17/2015

In [16]:
import math
math.sqrt(mse)

708.3926108883227

In [17]:
math.sqrt(mse) / X["Close"].mean()

0.05111096715350391

In [18]:
import statsmodels.api as sm

model = sm.OLS(y_train,X_train)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          TomorrowClose   R-squared:                       0.997
Model:                            OLS   Adj. R-squared:                  0.997
Method:                 Least Squares   F-statistic:                 1.263e+05
Date:                Fri, 02 Jun 2023   Prob (F-statistic):               0.00
Time:                        16:44:03   Log-Likelihood:                -18720.
No. Observations:                2299   AIC:                         3.746e+04
Df Residuals:                    2291   BIC:                         3.750e+04
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Open           0.0336      0.047      0.719      0.472      -0.058       0.125
High          -0.0102      0.058     -0.176      0.860      -0.124       0.103
Low           -0.0907      0.043     -2.091      0.037      -0.176      -0.006
Close          0.5302      0.025     21.208      0.000       0.481       0.579
Adj Close      0.5302      0.025     21.208      0.000       0.481       0.579
Volume      2.232e-09   1.31e-09      1.706      0.088   -3.33e-10     4.8e-09
year           0.0053      0.025      0.210      0.834      -0.044       0.055
month          2.4023      5.001      0.480      0.631      -7.406      12.210
day            0.5742      1.970      0.291      0.771      -3.289       4.438
==============================================================================
Omnibus:                      548.007   Durbin-Watson:                   1.982
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            25201.257
Skew:                          -0.243   Prob(JB):                         0.00
Kurtosis:                      19.213   Cond. No.                     1.79e+23
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.12e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [19]:
y_test

Date
2017-06-25     2478.449951
2015-01-07      283.348999
2019-02-18     3947.094482
2015-02-15      233.843002
2020-01-28     9316.629883
                  ...
2022-09-28    19573.050781
2016-07-09      649.359985
2015-07-06      266.207001
2015-06-16      249.283997
2017-10-17     5590.689941
Name: TomorrowClose, Length: 767, dtype: float64

In [20]:
y_pred

array([ 2613.68714341,   232.38516949,  3996.58387523,   183.46647593,
        9441.46259967,  9994.05304954,  2842.69967082, 26750.54255451,
         201.25625347,  1003.84972627,   402.91426076,   318.65222906,
        9445.95610605, 10589.13526705,  6738.65119018,   748.92023925,
         301.70661997,  2618.57262829, 18753.6292859 , 29443.80782643,
        8756.2065411 ,  9666.39113208, 12591.72257608,  8010.00567643,
       38047.92787909, 16812.58254898,  9237.45453936, 19856.66800687,
         210.48192304,   293.19708986, 10226.34230156, 11183.60809738,
       17906.04469904,  5937.47033616,   261.31073398, 36887.72010898,
       65152.57190127, 27893.39321889,   188.26878707, 46064.42935915,
       29065.67311906, 43068.39115759,   232.18714153,  2825.8902122 ,
       19684.41011849,   204.41292047,   767.2099946 ,  7654.06648093,
       46711.76226724, 20182.14623297,  3456.83426639,   669.89746207,
        7816.18399965,  8275.45304447,  7274.31051823, 51405.59163842,
         211.23414684, 30261.72547571, 19412.80437715,  6568.56360295,
       11234.33387453,  9339.12708277, 30447.80292582,  9119.41122277,
       10192.06765475, 10932.15571279, 21062.24790562,  4416.70716072,
       33594.64816947,  6718.12905039,   244.63213933, 19258.18244977,
        6279.24811631,   590.71083072,   667.35130408,   194.99059667,
       19378.52438411,  9359.75678064,  2762.414942  ,   186.30856679,
        8816.21155984, 12035.89532252, 16450.65484139, 19208.39985294,
        3662.36869968,  4035.45631106, 37608.96728198,  6507.68189622,
        4173.40891726,  9222.85711909, 58458.78412659,   191.79449424,
       21901.59160717,  4243.37760909,  6317.60173215,  2618.75272324,
         194.55537726,  8898.23571705,  9454.06461502, 58210.4059007 ,
       31848.07489265,  6567.39887502, 23843.72617503,   367.94007233,
       27650.50868203, 46930.63145358,  9571.68395886,  9400.72416158,
         441.79944489,   589.12871428,  9908.48863171,   395.58827656,
       27301.10807005, 38078.31995599,  9552.24254951,  5785.9014294 ,
        6521.24176142,  6382.70472178,  2505.96371467, 47219.48748867,
        8853.10527234, 32848.99712265,  6351.53953367,  5229.38834223,
        1075.75472791,  7044.67108158,  6944.17963859, 49075.38653298,
         163.59051994,  4547.820673  ,   195.20354259,   367.83949882,
        7174.63721638,  3315.58452092, 21204.81082526,   405.62714186,
       49677.14648164,   180.18908609,  7443.07010883,  4603.06499349,
       39153.21502905, 29652.83177829,   193.77752862, 11646.80536565,
        3962.21353906,   403.29551581, 20455.35741645,  1016.3074008 ,
        8518.77136751, 34152.52945337, 20031.09010948, 12050.9598826 ,
       11558.26254005,  1009.95146259, 23672.96371707, 58646.02988776,
         268.53725394,  6381.78995231, 19999.76830903, 17163.39142703,
       47018.06791321, 15130.97025499, 46888.21213836,  9604.88115332,
        9335.6244393 ,   220.66193293, 30189.57969003,  4024.98605385,
        9802.40417047,  4794.71223649, 11472.75912188,   435.23951259,
         462.39428876, 19464.49015737,  4348.59426233,  7089.7011517 ,
        2110.73679698,  8146.1795025 ,   588.34401777, 11394.257706  ,
       30470.82408785, 23178.91942795,  3521.12986889, 36607.39223629,
       13135.7655784 , 15981.35985472,  7393.44810224, 30263.92440093,
       19351.97280179, 61345.0535071 ,   565.48418934,  9535.39932078,
       43591.04160616,   762.42317408,  6711.19569208,   657.06365636,
        7022.62070872,  1061.31704879,  4082.00408213,  6778.21189439,
        8873.92730668,  8910.68103743,   965.42451551,   276.61347201,
       10674.38346408,   420.0475709 , 11596.58091222, 36638.54705594,
       30031.58552071, 35311.62486238, 22908.71286894, 11871.48086099,
        6481.41738005,   450.6493982 ,  5133.51804774, 17191.79424343,
        6193.82613221,   573.5555235 , 42026.10934072,   202.55739256,
        4097.64909827, 28697.52462261,   163.96952784, 38035.76862403,
        9428.87326294, 11495.90756967, 28060.34381439,   209.45403436,
         381.59662931,   280.20791109,  8921.31188287,   205.91306561,
       17023.52169834, 21468.00716579,   735.75867525,  7369.97131677,
         934.87078501, 16550.10058667,  1231.51380505,  6782.82447597,
       44749.23237753,   620.55944567,  3556.04698678,   180.82522695,
       31426.08640285,   430.60159907,  4421.21955483,   303.0016089 ,
       10861.83436496, 42123.12309551,  1758.47288757,   614.31736052,
        1195.08460367,   348.09586974, 11774.89234118,   721.77833969,
       12353.52000388, 43817.35866342,   709.12393603, 17012.20612552,
       10853.64797296,  6486.71499362,  6692.23321529,   193.27800414,
         608.66761175,  6230.56525397, 53370.92707836,   346.95116794,
        3670.66036356,   932.01772489,  1264.02957013, 55990.63801584,
        6352.74970739,  8067.66609779,  1164.25703662, 48819.04870506,
         586.34734546,  2378.97566145, 16925.18415314,  2263.99410301,
         923.18883089,   401.56083291,   360.98501093,  8927.23402245,
         991.41048768, 19386.59736748,   635.55292302, 49254.31175687,
         222.01023839, 19353.27169525,   441.74512773, 53531.32515533,
       16987.48997957, 48943.73624857,   252.19429139, 28973.01278948,
       28759.56112532,  9302.87269209,  9477.19754061, 53655.23437146,
         912.34044485,  9455.07843919, 23791.1306807 ,  3779.79655896,
       16524.61040924, 23991.38644778,  3887.0803568 ,   229.89738159,
        6965.46829482,  9351.59975298,   782.75214216, 17523.80253398,
         207.77326327,  7933.84018063, 10318.92191204,   233.44516215,
        6556.71997624, 12004.51104524,   718.53449053,   178.89510013,
       41662.82775865,  7616.38142382,  8961.03965247,  7249.74657674,
       60568.30855063,   588.41758121, 15326.27710512, 18126.34243335,
       19251.12842444, 61565.34071834, 11649.3246554 , 24837.06988166,
         993.36586014, 11159.98842173, 15916.04054155, 11562.53071902,
       16535.35806433,   251.54548778,  3521.77594026,  8228.25478248,
       57913.36006528,   608.48739187,  4724.59123949, 61608.29369273,
        8390.57027747, 11009.13188617,  5667.48025715,  8249.946365  ,
       11522.95660153,  4370.16154721, 37994.07600065,   209.12735109,
        6184.96375907, 37735.98406048,   200.61769319,   156.71719817,
       34715.48395037,   761.20579494,  8486.82864738, 28819.77963355,
        9636.00022241, 29906.76825894,   299.90433284,  7075.50872933,
        7401.00438896, 57860.70203874, 19114.22961152, 57588.36181198,
       32706.15850715,   400.6832479 , 24701.72270052, 45337.60459464,
         245.18413201,   227.91885208,   418.16378144, 61800.16237039,
       38966.55457046,  1202.80777231,  9254.68189344, 49280.63016341,
        3968.79481694,  5803.58233473, 39299.21815961, 48755.2926226 ,
        6563.98975407,  5625.24614293,  7486.19599076, 54674.9036102 ,
        3819.44112579, 39626.07893662,  1613.53825285,  7381.46365241,
         205.13405924,   303.36995127,  8774.04653112, 33548.32086996,
       11050.00042675,   209.70321632,  7390.67870345,  4066.79309299,
        4378.61710074,   397.97156006,   937.00969751, 21762.22499194,
       10728.71771975, 29341.54850453,   663.57053155, 49076.36666468,
        8377.43778724, 48004.58570834,  6664.1226659 ,  8633.48343301,
        1134.7513839 ,   754.98280983,  5094.43727681,   402.94820875,
       10582.03824091, 36099.06691704,  2207.44959736,  9367.01171759,
        3738.62967407, 17859.28454322, 15615.16169383, 14712.99344642,
       51603.73473281,  3926.67666121, 10698.83725768,   567.61572859,
         535.36846822, 10316.77544419,   222.73381797,   177.56090178,
         575.93349857,   190.97829782,  3687.26493526,   245.98838299,
       32219.82855185,   681.16575156, 16320.38324728,   191.06820379,
        5302.91927573,  8107.49015348, 56764.65453095,  1098.07127214,
        8735.16674639,   199.74546082,  3986.28797507, 10998.78227498,
         365.72952842,  4088.31570922,  8456.09211193,  7466.38307282,
       10319.08851955,   592.69036996,  6406.35067312, 31341.20330051,
       19842.8865355 ,  6721.40124634,  4193.91853362,  9603.0088449 ,
         681.03109288,  9733.83408662,  7583.41556303,  6572.80940132,
       10307.47982953,   189.9854872 , 20522.06297672,  7644.52466533,
        7440.05426836, 48234.71188919,  2708.69313611,   237.12914104,
        9757.48901285,  1036.37912998, 11820.67083865,  5154.78635729,
        5260.41583627, 17306.51311212,  4359.53973566, 40831.49891905,
        3557.15546808,  9779.55583077, 10589.81415814,  2543.23994026,
        9594.67144363, 17262.56834206, 18995.69524543, 60032.06317829,
         351.30929096,   209.95028565,  6414.74839147, 47039.35461233,
        3901.28366768,  4168.10021613,  3921.10184578,  5664.63871512,
        7912.96934478, 41466.95101002,  7639.32021111, 41087.42640708,
        7134.67617329,  9392.12871285, 46175.04833542,  1571.53450268,
         448.34492703,   247.32635701, 34739.9324031 ,  3387.77401827,
         123.61415832, 10051.75289286,  3713.9902411 , 46852.83617181,
        4098.78788311,  9191.19362904, 20874.07255033,   209.95155609,
       43825.27833151,   179.89286142, 13849.18486459,   762.14592824,
       23259.257076  , 28863.49110544,  1555.25319164, 10266.62794086,
         390.31440141, 19322.32955142, 19110.65534177,  7243.62521906,
       14545.79305534,  5640.26922107, 35019.5413968 , 39477.15553087,
       10810.45425197,  5340.20367931,  5151.0702224 , 15616.38482583,
       31759.49515641,   192.35685673,  8771.61754075,  3750.28074901,
        8243.04448067,   209.15940448,   231.53698717, 11145.13708264,
       41728.39518871,  4224.3134294 , 58706.87389359, 31395.57606544,
         337.86632738,  5394.35654056, 22639.92359871,   235.48459947,
       42252.18772007, 15720.4290019 ,   182.249232  , 10450.64390879,
       26927.62225965, 55521.99208639, 45371.35828522, 47467.27398038,
        8240.88016643, 33493.64825114,  9406.19640184,  7951.13230785,
         423.08879218, 28162.89812423,  9223.49938499,  8657.89201932,
        6513.6418065 ,  7714.25627927, 23049.64235348,  7916.81398313,
         719.60311615, 42587.51408905, 13029.90446126,  8388.01685349,
         602.39453642,  7373.91082335,  2509.72265023,   216.92389706,
       10536.67021025,  6653.80287721,   221.61940122, 11491.00426981,
        7543.60076358,   640.22304939, 19544.8535231 ,   590.05077564,
        9269.28341888,   227.43194227,  9772.72804158,  5312.0573033 ,
       16936.61972215, 35727.27362074,  9143.75042454,  1073.53700663,
       11876.79341059,  3690.12551875, 30412.24622084, 54700.98007266,
        5117.38983907, 20686.32525898,   799.21966091, 10265.50453437,
       29058.10685804,  6312.22477653, 26383.5452347 ,  1231.47613083,
        6973.12515507, 38423.75832904, 31054.14812364,  3690.54104606,
       27122.63196048,   210.15849134,  2540.94990653,  8199.53229026,
        8867.88120092,  4101.56276184, 10385.05961099,   777.20322185,
       47492.28734398, 28255.98713959,  3734.95313291,   201.07057968,
       48841.25670025,  7649.87199989,  8853.66083944,  4017.36169145,
        4440.44615418,  9464.0166139 ,   630.63170269,   232.02259312,
       40131.39074292, 10108.48377644,  1186.82993387,  1967.68298036,
        2739.89807263,   616.01866817,   727.83142918,   193.85640042,
       22446.16771882,  9700.91788213,  8038.87958913,  6802.88584729,
        9827.67392924,   697.97113952,   769.19554325, 13163.10849468,
        3728.48400924,  6922.85740249, 27208.94047417, 32267.902916  ,
        7352.23409419, 14025.48064089,   591.07999078,   402.59045225,
        2400.8690789 ,   209.50006441, 11606.92648083, 31749.01005018,
       20868.11947432,  2525.94633771,   216.0407683 ,   178.23024916,
         242.5216511 ,   785.00788091,   229.81081371, 17301.91812719,
       22445.07287681,   316.49778196,  7292.5370377 , 23243.1270266 ,
        6317.1615312 , 22836.44699307,   196.25333178,   664.60099799,
        2526.62180954,  6457.29302617,  8762.07586836, 11931.17762151,
        9443.8195844 ,   457.69739841, 46916.51409635,  8868.83137355,
        7051.23755972, 44496.96239321,   936.67336478, 18448.3438085 ,
        1245.96427803, 26997.1252037 ,   233.09429985,  1003.26086056,
         448.29157603,   201.11585506,   426.50994051, 23891.61069865,
         644.92365814, 11240.28854131,   662.69641579, 23202.87046814,
         442.9209661 , 55899.01910118, 20657.60462808, 31721.14260483,
        7415.44499502, 41151.05794625,  6608.90432608,  3208.36061796,
        6530.33162883,  2684.74898806,  1237.06125047, 47041.51217689,
         661.57482765, 20332.76258101,  4144.12998943,   206.54081817,
        8423.88563039,   398.57607683,  3742.7644043 ,   202.79877779,
       19646.82313439,   233.37190345,  3707.13875544,   902.51833676,
         653.68027345, 21612.51169013,  3592.55506983,  8089.54009538,
        5955.09714624, 16394.55975161,   661.20256376,   439.70977101,
        9578.41634285,  2700.65616918,  6876.63123221,  6301.82195075,
         348.49852442, 10270.41392061,   653.82779999,  3692.35510186,
        1041.84500648, 11045.07547901,  2247.73188322,   214.28738362,
       40274.78709458,  4994.5348191 ,  1260.15402713,   216.69266175,
        2356.4880827 ,  4432.20574093,  8788.14717754,  8863.43787709,
       11879.38522305, 57149.19301677, 48531.86262636,   712.63180906,
        5129.49140907,  6443.16735211,   593.51617207,   381.36940498,
         447.26676311,  8443.00132776, 19568.54058843,   649.20954499,
         230.12773803,   215.35367594,  5624.9918383 ])

In [21]:
# Make a prediction using the testing data

predictions = regressor.predict(X_test)
predictions

array([ 2613.68714341,   232.38516949,  3996.58387523,   183.46647593,
        9441.46259967,  9994.05304954,  2842.69967082, 26750.54255451,
         201.25625347,  1003.84972627,   402.91426076,   318.65222906,
        9445.95610605, 10589.13526705,  6738.65119018,   748.92023925,
         301.70661997,  2618.57262829, 18753.6292859 , 29443.80782643,
        8756.2065411 ,  9666.39113208, 12591.72257608,  8010.00567643,
       38047.92787909, 16812.58254898,  9237.45453936, 19856.66800687,
         210.48192304,   293.19708986, 10226.34230156, 11183.60809738,
       17906.04469904,  5937.47033616,   261.31073398, 36887.72010898,
       65152.57190127, 27893.39321889,   188.26878707, 46064.42935915,
       29065.67311906, 43068.39115759,   232.18714153,  2825.8902122 ,
       19684.41011849,   204.41292047,   767.2099946 ,  7654.06648093,
       46711.76226724, 20182.14623297,  3456.83426639,   669.89746207,
        7816.18399965,  8275.45304447,  7274.31051823, 51405.59163842,
         211.23414684, 30261.72547571, 19412.80437715,  6568.56360295,
       11234.33387453,  9339.12708277, 30447.80292582,  9119.41122277,
       10192.06765475, 10932.15571279, 21062.24790562,  4416.70716072,
       33594.64816947,  6718.12905039,   244.63213933, 19258.18244977,
        6279.24811631,   590.71083072,   667.35130408,   194.99059667,
       19378.52438411,  9359.75678064,  2762.414942  ,   186.30856679,
        8816.21155984, 12035.89532252, 16450.65484139, 19208.39985294,
        3662.36869968,  4035.45631106, 37608.96728198,  6507.68189622,
        4173.40891726,  9222.85711909, 58458.78412659,   191.79449424,
       21901.59160717,  4243.37760909,  6317.60173215,  2618.75272324,
         194.55537726,  8898.23571705,  9454.06461502, 58210.4059007 ,
       31848.07489265,  6567.39887502, 23843.72617503,   367.94007233,
       27650.50868203, 46930.63145358,  9571.68395886,  9400.72416158,
         441.79944489,   589.12871428,  9908.48863171,   395.58827656,
       27301.10807005, 38078.31995599,  9552.24254951,  5785.9014294 ,
        6521.24176142,  6382.70472178,  2505.96371467, 47219.48748867,
        8853.10527234, 32848.99712265,  6351.53953367,  5229.38834223,
        1075.75472791,  7044.67108158,  6944.17963859, 49075.38653298,
         163.59051994,  4547.820673  ,   195.20354259,   367.83949882,
        7174.63721638,  3315.58452092, 21204.81082526,   405.62714186,
       49677.14648164,   180.18908609,  7443.07010883,  4603.06499349,
       39153.21502905, 29652.83177829,   193.77752862, 11646.80536565,
        3962.21353906,   403.29551581, 20455.35741645,  1016.3074008 ,
        8518.77136751, 34152.52945337, 20031.09010948, 12050.9598826 ,
       11558.26254005,  1009.95146259, 23672.96371707, 58646.02988776,
         268.53725394,  6381.78995231, 19999.76830903, 17163.39142703,
       47018.06791321, 15130.97025499, 46888.21213836,  9604.88115332,
        9335.6244393 ,   220.66193293, 30189.57969003,  4024.98605385,
        9802.40417047,  4794.71223649, 11472.75912188,   435.23951259,
         462.39428876, 19464.49015737,  4348.59426233,  7089.7011517 ,
        2110.73679698,  8146.1795025 ,   588.34401777, 11394.257706  ,
       30470.82408785, 23178.91942795,  3521.12986889, 36607.39223629,
       13135.7655784 , 15981.35985472,  7393.44810224, 30263.92440093,
       19351.97280179, 61345.0535071 ,   565.48418934,  9535.39932078,
       43591.04160616,   762.42317408,  6711.19569208,   657.06365636,
        7022.62070872,  1061.31704879,  4082.00408213,  6778.21189439,
        8873.92730668,  8910.68103743,   965.42451551,   276.61347201,
       10674.38346408,   420.0475709 , 11596.58091222, 36638.54705594,
       30031.58552071, 35311.62486238, 22908.71286894, 11871.48086099,
        6481.41738005,   450.6493982 ,  5133.51804774, 17191.79424343,
        6193.82613221,   573.5555235 , 42026.10934072,   202.55739256,
        4097.64909827, 28697.52462261,   163.96952784, 38035.76862403,
        9428.87326294, 11495.90756967, 28060.34381439,   209.45403436,
         381.59662931,   280.20791109,  8921.31188287,   205.91306561,
       17023.52169834, 21468.00716579,   735.75867525,  7369.97131677,
         934.87078501, 16550.10058667,  1231.51380505,  6782.82447597,
       44749.23237753,   620.55944567,  3556.04698678,   180.82522695,
       31426.08640285,   430.60159907,  4421.21955483,   303.0016089 ,
       10861.83436496, 42123.12309551,  1758.47288757,   614.31736052,
        1195.08460367,   348.09586974, 11774.89234118,   721.77833969,
       12353.52000388, 43817.35866342,   709.12393603, 17012.20612552,
       10853.64797296,  6486.71499362,  6692.23321529,   193.27800414,
         608.66761175,  6230.56525397, 53370.92707836,   346.95116794,
        3670.66036356,   932.01772489,  1264.02957013, 55990.63801584,
        6352.74970739,  8067.66609779,  1164.25703662, 48819.04870506,
         586.34734546,  2378.97566145, 16925.18415314,  2263.99410301,
         923.18883089,   401.56083291,   360.98501093,  8927.23402245,
         991.41048768, 19386.59736748,   635.55292302, 49254.31175687,
         222.01023839, 19353.27169525,   441.74512773, 53531.32515533,
       16987.48997957, 48943.73624857,   252.19429139, 28973.01278948,
       28759.56112532,  9302.87269209,  9477.19754061, 53655.23437146,
         912.34044485,  9455.07843919, 23791.1306807 ,  3779.79655896,
       16524.61040924, 23991.38644778,  3887.0803568 ,   229.89738159,
        6965.46829482,  9351.59975298,   782.75214216, 17523.80253398,
         207.77326327,  7933.84018063, 10318.92191204,   233.44516215,
        6556.71997624, 12004.51104524,   718.53449053,   178.89510013,
       41662.82775865,  7616.38142382,  8961.03965247,  7249.74657674,
       60568.30855063,   588.41758121, 15326.27710512, 18126.34243335,
       19251.12842444, 61565.34071834, 11649.3246554 , 24837.06988166,
         993.36586014, 11159.98842173, 15916.04054155, 11562.53071902,
       16535.35806433,   251.54548778,  3521.77594026,  8228.25478248,
       57913.36006528,   608.48739187,  4724.59123949, 61608.29369273,
        8390.57027747, 11009.13188617,  5667.48025715,  8249.946365  ,
       11522.95660153,  4370.16154721, 37994.07600065,   209.12735109,
        6184.96375907, 37735.98406048,   200.61769319,   156.71719817,
       34715.48395037,   761.20579494,  8486.82864738, 28819.77963355,
        9636.00022241, 29906.76825894,   299.90433284,  7075.50872933,
        7401.00438896, 57860.70203874, 19114.22961152, 57588.36181198,
       32706.15850715,   400.6832479 , 24701.72270052, 45337.60459464,
         245.18413201,   227.91885208,   418.16378144, 61800.16237039,
       38966.55457046,  1202.80777231,  9254.68189344, 49280.63016341,
        3968.79481694,  5803.58233473, 39299.21815961, 48755.2926226 ,
        6563.98975407,  5625.24614293,  7486.19599076, 54674.9036102 ,
        3819.44112579, 39626.07893662,  1613.53825285,  7381.46365241,
         205.13405924,   303.36995127,  8774.04653112, 33548.32086996,
       11050.00042675,   209.70321632,  7390.67870345,  4066.79309299,
        4378.61710074,   397.97156006,   937.00969751, 21762.22499194,
       10728.71771975, 29341.54850453,   663.57053155, 49076.36666468,
        8377.43778724, 48004.58570834,  6664.1226659 ,  8633.48343301,
        1134.7513839 ,   754.98280983,  5094.43727681,   402.94820875,
       10582.03824091, 36099.06691704,  2207.44959736,  9367.01171759,
        3738.62967407, 17859.28454322, 15615.16169383, 14712.99344642,
       51603.73473281,  3926.67666121, 10698.83725768,   567.61572859,
         535.36846822, 10316.77544419,   222.73381797,   177.56090178,
         575.93349857,   190.97829782,  3687.26493526,   245.98838299,
       32219.82855185,   681.16575156, 16320.38324728,   191.06820379,
        5302.91927573,  8107.49015348, 56764.65453095,  1098.07127214,
        8735.16674639,   199.74546082,  3986.28797507, 10998.78227498,
         365.72952842,  4088.31570922,  8456.09211193,  7466.38307282,
       10319.08851955,   592.69036996,  6406.35067312, 31341.20330051,
       19842.8865355 ,  6721.40124634,  4193.91853362,  9603.0088449 ,
         681.03109288,  9733.83408662,  7583.41556303,  6572.80940132,
       10307.47982953,   189.9854872 , 20522.06297672,  7644.52466533,
        7440.05426836, 48234.71188919,  2708.69313611,   237.12914104,
        9757.48901285,  1036.37912998, 11820.67083865,  5154.78635729,
        5260.41583627, 17306.51311212,  4359.53973566, 40831.49891905,
        3557.15546808,  9779.55583077, 10589.81415814,  2543.23994026,
        9594.67144363, 17262.56834206, 18995.69524543, 60032.06317829,
         351.30929096,   209.95028565,  6414.74839147, 47039.35461233,
        3901.28366768,  4168.10021613,  3921.10184578,  5664.63871512,
        7912.96934478, 41466.95101002,  7639.32021111, 41087.42640708,
        7134.67617329,  9392.12871285, 46175.04833542,  1571.53450268,
         448.34492703,   247.32635701, 34739.9324031 ,  3387.77401827,
         123.61415832, 10051.75289286,  3713.9902411 , 46852.83617181,
        4098.78788311,  9191.19362904, 20874.07255033,   209.95155609,
       43825.27833151,   179.89286142, 13849.18486459,   762.14592824,
       23259.257076  , 28863.49110544,  1555.25319164, 10266.62794086,
         390.31440141, 19322.32955142, 19110.65534177,  7243.62521906,
       14545.79305534,  5640.26922107, 35019.5413968 , 39477.15553087,
       10810.45425197,  5340.20367931,  5151.0702224 , 15616.38482583,
       31759.49515641,   192.35685673,  8771.61754075,  3750.28074901,
        8243.04448067,   209.15940448,   231.53698717, 11145.13708264,
       41728.39518871,  4224.3134294 , 58706.87389359, 31395.57606544,
         337.86632738,  5394.35654056, 22639.92359871,   235.48459947,
       42252.18772007, 15720.4290019 ,   182.249232  , 10450.64390879,
       26927.62225965, 55521.99208639, 45371.35828522, 47467.27398038,
        8240.88016643, 33493.64825114,  9406.19640184,  7951.13230785,
         423.08879218, 28162.89812423,  9223.49938499,  8657.89201932,
        6513.6418065 ,  7714.25627927, 23049.64235348,  7916.81398313,
         719.60311615, 42587.51408905, 13029.90446126,  8388.01685349,
         602.39453642,  7373.91082335,  2509.72265023,   216.92389706,
       10536.67021025,  6653.80287721,   221.61940122, 11491.00426981,
        7543.60076358,   640.22304939, 19544.8535231 ,   590.05077564,
        9269.28341888,   227.43194227,  9772.72804158,  5312.0573033 ,
       16936.61972215, 35727.27362074,  9143.75042454,  1073.53700663,
       11876.79341059,  3690.12551875, 30412.24622084, 54700.98007266,
        5117.38983907, 20686.32525898,   799.21966091, 10265.50453437,
       29058.10685804,  6312.22477653, 26383.5452347 ,  1231.47613083,
        6973.12515507, 38423.75832904, 31054.14812364,  3690.54104606,
       27122.63196048,   210.15849134,  2540.94990653,  8199.53229026,
        8867.88120092,  4101.56276184, 10385.05961099,   777.20322185,
       47492.28734398, 28255.98713959,  3734.95313291,   201.07057968,
       48841.25670025,  7649.87199989,  8853.66083944,  4017.36169145,
        4440.44615418,  9464.0166139 ,   630.63170269,   232.02259312,
       40131.39074292, 10108.48377644,  1186.82993387,  1967.68298036,
        2739.89807263,   616.01866817,   727.83142918,   193.85640042,
       22446.16771882,  9700.91788213,  8038.87958913,  6802.88584729,
        9827.67392924,   697.97113952,   769.19554325, 13163.10849468,
        3728.48400924,  6922.85740249, 27208.94047417, 32267.902916  ,
        7352.23409419, 14025.48064089,   591.07999078,   402.59045225,
        2400.8690789 ,   209.50006441, 11606.92648083, 31749.01005018,
       20868.11947432,  2525.94633771,   216.0407683 ,   178.23024916,
         242.5216511 ,   785.00788091,   229.81081371, 17301.91812719,
       22445.07287681,   316.49778196,  7292.5370377 , 23243.1270266 ,
        6317.1615312 , 22836.44699307,   196.25333178,   664.60099799,
        2526.62180954,  6457.29302617,  8762.07586836, 11931.17762151,
        9443.8195844 ,   457.69739841, 46916.51409635,  8868.83137355,
        7051.23755972, 44496.96239321,   936.67336478, 18448.3438085 ,
        1245.96427803, 26997.1252037 ,   233.09429985,  1003.26086056,
         448.29157603,   201.11585506,   426.50994051, 23891.61069865,
         644.92365814, 11240.28854131,   662.69641579, 23202.87046814,
         442.9209661 , 55899.01910118, 20657.60462808, 31721.14260483,
        7415.44499502, 41151.05794625,  6608.90432608,  3208.36061796,
        6530.33162883,  2684.74898806,  1237.06125047, 47041.51217689,
         661.57482765, 20332.76258101,  4144.12998943,   206.54081817,
        8423.88563039,   398.57607683,  3742.7644043 ,   202.79877779,
       19646.82313439,   233.37190345,  3707.13875544,   902.51833676,
         653.68027345, 21612.51169013,  3592.55506983,  8089.54009538,
        5955.09714624, 16394.55975161,   661.20256376,   439.70977101,
        9578.41634285,  2700.65616918,  6876.63123221,  6301.82195075,
         348.49852442, 10270.41392061,   653.82779999,  3692.35510186,
        1041.84500648, 11045.07547901,  2247.73188322,   214.28738362,
       40274.78709458,  4994.5348191 ,  1260.15402713,   216.69266175,
        2356.4880827 ,  4432.20574093,  8788.14717754,  8863.43787709,
       11879.38522305, 57149.19301677, 48531.86262636,   712.63180906,
        5129.49140907,  6443.16735211,   593.51617207,   381.36940498,
         447.26676311,  8443.00132776, 19568.54058843,   649.20954499,
         230.12773803,   215.35367594,  5624.9918383 ])